<link rel="stylesheet" href="/css/style.css">

<nav class="navbar">
    <div class="nav-left">
        <span class="nav-title">Dream Rocket</span>
    </div>

    <div class="nav-right">
        <a href="/dashboard.html" class="nav-link">Dashboard</a>
        <a href="/cadastrar.html" class="nav-link">Cadastrar</a>

        <button id="logoutBtn" class="logout-btn">Logout</button>
    </div>
</nav>

<script type="module">
    import { auth } from "/js/firebase-config.js";
    import { signOut } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-auth.js";

    document.getElementById("logoutBtn").addEventListener("click", () => {
        signOut(auth).then(() => {
            window.location.href = "/index.html";
        });
    });
</script>
