<nav class="navbar">
    <div class="nav-left">
        <a href="dashboard.html" class="brand-link">
            <img src="img/logo.png" alt="Dream Rocket" class="logo">
        </a>
    </div>

    <div class="nav-center">
        <a href="dashboard.html" id="navDashboard">Dashboard</a>
        <a href="financeiro.html" id="navFinanceiro">Financeiro</a>
        <a href="retirada.html" id="navRetirada">Saques</a>
        <div class="nav-item-dropdown" id="navContasCasa" data-required-level="1">
            <button class="nav-dropdown-toggle" id="navContasCasaToggle" type="button">Contas Casa</button>
            <ul class="nav-dropdown-menu" id="navContasCasaMenu">
                <li><a href="contas_casa_saida.html" id="navContasCasaSaida">Saida</a></li>
                <li><a href="contas_casa_entrada.html" id="navContasCasaEntrada">Entrada</a></li>
            </ul>
        </div>
    </div>

    <div class="nav-right" id="userArea">
        <div id="userInfo" class="user-dropdown">
            <button id="userGreetingDropdown" class="user-greeting-dropdown" type="button">
                <div class="user-profile">
                    <div class="avatar-container" id="avatarContainer"></div>
                    <div class="user-details">
                        <span class="user-name" id="userName">Usuario</span>
                        <span class="user-email" id="userEmail"></span>
                    </div>
                </div>
            </button>
            <ul class="user-dropdown-menu" id="userDropdownMenu">
                <li>
                    <a href="#" id="navLogout" class="user-dropdown-item user-dropdown-item-danger">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
